<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<form method="POST" class="logon-register">
  <div class="logon-register-field">
    <label name="email">Email:</label>
    <input name="email" />
  </div>
  <div class="logon-register-field">
    <label name="password">Password:</label>
    <input type="password" name="password" />
  </div>
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
  <div class="login-register-form-buttons">
    <button id="logon-button">Logon</button>
    <a href="/">
      <button type="button" id="logon-cancel">Cancel</button>
    </a>
  </div>
</form>
<%- include("partials/footer.ejs") %>