<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<form method="POST" style="display: flex; flex-direction: column; width: 20%;">
  <div style="display: flex; justify-content: space-between;">
    <label name="email">Enter your email:</label>
    <input name="email" />
  </div>
  <div style="display: flex; justify-content: space-between;">
    <label name="password">Enter your password:</label>
    <input type="password" name="password" />
  </div>
  <div style="display: flex; justify-content: flex-end; margin: 20px 0px 0px 0px;">
    <button>Logon</button>
    <a href="/">
      <button type="button">Cancel</button>
    </a>
  </div>
</form>
<%- include("partials/footer.ejs") %>