@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  background-color: rgb(252, 252, 255);
  color: #000;
  margin: 0px;
  font-size: 16px;
  font-family: Nunito;
  box-sizing: border-box;
  height: 100%;
  width: 70%;
  margin: auto;
}

.logon-register {
  display: grid;
  flex-direction: column;
  width: 20%;
}

.logon-register-field,
.add-food-item-field {
  display: flex;
  justify-content: space-between;
}

.login-register-form-buttons,
#add-food-item-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;
}

#default-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.error-message {
  color: red;
  margin: 0px;
}

.info-message {
  color: green;
  margin: 0px;
}

.site-actions {
  margin: 5px 0px;
}

#add-food-item-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

header,
h2,
h3 {
  text-align: center;
}

#message {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  color: red;
}

#food-items {
  text-align: center;
}

#edit-food-item {
  margin: auto;
}

#food-item-amount {
  display: flex;
  flex-direction: column;
}

#food-item-quantity,
#food-item-unit {
  display: flex;
  justify-content: space-between;
}

select#mealTime,
select#unit,
#add-food-item-form input {
  width: 30%
}

.asterisk {
  color: red;
}

table {
  width: 70%;
  text-align: center;
  margin: auto;
  border-collapse: collapse;
  padding: 0px;
}

#food-items-table-header {
  border-bottom: 1px black solid;
}

#table-header-comments {
  max-width: 30%;
}

#table-row-total {
  text-align: left;
  font-weight: bold;
}

#table-header-actions {
  width: 10px;
}

.centered-cell {
  text-align: center
}

dialog {
  background-color: rgb(247, 247, 251);
  border-color: red;
}

::backdrop {
  backdrop-filter: blur(5px);
  background: rgba(200, 200, 200, 0.25);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

a#swagger_link {
  color: rgb(63, 178, 43);
  font-weight: bold;
}

#swagger {
  margin: 30px 0px;
  text-align: right;
}