@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  background-color: rgb(252, 252, 255);
  color: #000;
  margin: 0px;
  font-size: 16px;
  font-family: Nunito;
  box-sizing: border-box;
  height: 100%;
  width: 90%;
  margin: auto;
}

section {
  padding: 10px 0;
}

#edit-profile {
  margin: 0px;
}

#user-profile {
  display: flex;
  border-bottom: 1px solid #000;
}

.user-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.user-info-line {
  padding-left: 20px;
}

/* .user-info div{
  width: fit-content;
  height: fit-content;
} */

#main-info {
  display: grid;
  grid-template-columns: 15% 45% 40%;
}

.logon-register {
  display: grid;
  flex-direction: column;
  width: 40%;
}

.form-input-text {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.fill-form {
  margin: auto;
}

.multi-component {
  display: flex;
  flex-direction: column;
}

.form-fields {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.form-dropdown,
.form-fields input {
  width: 60%
}

.add-form-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;
}

.asterisk {
  color: red;
}

.login-register-form-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;
}

.radio-button-field {
  width: 400px;
}

.detailed-info {
  display: inline-block;
  background-image: url(/files/question-circle.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  cursor: help;
}

.collapsible {
  text-align: left;
  padding: 0 15px;
}

.collapsible-button {
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 1em;
  background-color: inherit;
  cursor: help;
}

.collapsible-calendar {
  display: none
}

.detailed-user-info {
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
}

.bold {
  font-weight: bold;
}

#user-name {
  font-weight: bold;
  color: red;
  font-size: 2rem;
  text-transform: capitalize;
}

#default-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.error-message {
  color: red;
  margin: 0px;
}

.info-message {
  color: green;
  margin: 0px;
}

.site-actions {
  margin: 5px 0px;
}

#calendar-pane,
#food-pane {
  border-right: 1px solid black;
}

h1 {
  margin: 20px 0px 0px 0px;
}

header,
h2,
h3 {
  text-align: center;
}

#message {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  color: red;
  margin: 0px;
}

table {
  text-align: center;
  margin: auto;
  border-collapse: collapse;
  padding: 0px;
  width: 95%;
}

.table-header {
  border-bottom: 1px black solid;
}

.table-header-actions {
  width: 10px;
}

.table-row-total {
  padding: 20px 0px 0px 0px;
  text-align: left;
  font-weight: bold;
}

.centered-cell {
  text-align: center
}

.conclusion {
  text-align: left;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 10px;
}


.delete-confirmation {
  background-color: rgb(247, 247, 251);
  border-color: red;
}

::backdrop {
  backdrop-filter: blur(5px);
  background: rgba(200, 200, 200, 0.25);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.dialog-info {
  width: 500px
}

a#swagger_link {
  color: rgb(63, 178, 43);
  font-weight: bold;
}

#swagger {
  margin: 30px 0px;
  text-align: right;
}

@media all and (max-width: 1500px) {
  body {
    width: 95%;
  }

  #main-info {
    display: flex;
    flex-direction: column;
  }

  .collapsible-calendar {
    display: block;
    cursor: help;
    text-align: left;
    padding: 0 15px;
  }
  
  .collapsible-calendar-button {
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1em;
    background-color: inherit;
    cursor:pointer;
  }  
}

@media all and (max-width: 1200px) {
  .logon-register {
    width: 60%;
  }

  table {
    width: 100%;
  }

  .form-fields {
    width: 70%;
  }  
}

@media all and (max-width: 900px) {
  .logon-register {
    width: 100%;
  }
}

@media all and (max-width: 400px) {
  body {
    width: 99%;
  }

  .logon-register {
    display: grid;
    width: 100%;
  }

  .form-input-text {
    display: grid;
  }

  .form-fields {
    display: grid;
    margin: auto;
    width: 100%
  }

  .multi-component {
    display: grid;
  }

  #user-profile {
    display: grid;
    border-bottom: 1px solid #000;
  }
}